:root {
    --orange: #ff5d13;
    --off-white: #f4f0db;
}

body {
    background-color: var(--off-white);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
}

.pages {
    flex: 1;
    min-width: 0;
}

#home {
    padding-top: 50px;
    height: calc(100vh - 50px);
}

#home, #about, #resume, #project {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
    overflow-x: hidden;
}

#resume {
    padding-top: 50px;
    padding-bottom: 100px;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
}

#about {
    margin-top: 100px;
    height: 100vh;
}

#project {
    height: 100vh;
}

#contact {
    height: 20vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.bar {
    display: flex;
    flex-direction: row;

}

.info-box {
    margin-left: 300px;
    margin-top: 150px;
    width: 700px;
    height: 500px;
}

.transparent-text {
    position: absolute;
    font-weight: bold;
    letter-spacing: 20px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: var(--off-white);
    transform: rotate(180deg);
    white-space: nowrap;
    padding: 10px;
    font-size: 100px;
    -webkit-text-stroke: .25px black;
    z-index: 0;
}

.inspo-text {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    z-index: 1;
    color: var(--orange);
}

.header {
    position: fixed;
    background-color: var(--off-white);
    border-bottom: 2px solid black;
    height: 50px;
    width: calc(100% - 50px);
    z-index: 3;
}

#sider {
    width: 50px;
    flex-shrink: 0;
    background-color: black;
}

.sider-text {
    font-weight: bolder;
    letter-spacing: 20px;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    color: var(--orange);
    transform: rotate(180deg);
    white-space: nowrap;
    padding: 10px;
    font-size: 25px;
}

.navbar {
    z-index: 5;
    position: fixed;
    margin-left: 125px;
    margin-top: 50px;
    height: 50px;
}

.nav-button {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: color .3s ease;
    font-family: 'Courier New', Courier, monospace;
}
.nav-button::before {
    content: '';
    position: absolute;
    top: 22%;
    left: -100%;
    width: 100%;
    height: 55%;
    background-color: var(--orange);
    z-index: 0;
    transition: left .3s ease;
}
.nav-button:hover::before {
    left: 0;
}
.nav-button-text {
    position: relative;
    z-index: 2;
    text-decoration: underline;
}
.nav-button-text:hover {
    text-decoration: transparent;
}














.biometric-scanner {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 250px;
    width: 250px;
    height: 500px;
    margin-left: 900px;
    outline: 2px solid black;
    box-shadow: 10px 10px;
}

.img-box {
    height: 600px;
}

#spin-img {
    margin-top: 200px;
    outline: 2px solid black;
    box-shadow: 10px 10px;
    display: block;
    width: auto;
    height: 100%;
}








.contact-me {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 20px;
    color: var(--off-white);
    white-space: pre-line;
    width: 275px;
    height: 100%;
    text-align: center;
    line-height: 62px;
}


.contact-text {
    margin-left: 10px;
    width: auto;
    height: 60%;
    color: var(--off-white);
    font-size: 20px;
    line-height: 75px;
}

.line-arrow {
    margin-left: 10px;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.line {
    width: 10px;
    background-color: var(--off-white);
    height: 60%;
    margin-top: 25%;
}

.arrow {
    margin-left: -30px;
    margin-top: 40px;
    border: solid var(--off-white);
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 50px;
    transform: rotate(-45deg);
}

.contact-img {
    margin-top: auto;
    margin-bottom: auto;
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: 20px;
}

.home-pic-container {
    width: 500px;
}

.home-pic {
    outline: 2px solid black;
    box-shadow: 10px 10px;
}











.project-box {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.gif-box {
    width: 640px;
    height: 360px;
    margin: auto;
    justify-content: space-between;
    outline: 2px solid black;
    box-shadow: 10px 10px;
}

.grav-sim-gif {
    width: 100%;
}